.featured {
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: #801a1a;
  color: white;

  .container {
    width: 1400px;
    display: flex;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 50px;

        span {
          font-style: italic;
          font-weight: 300;
        }
      }

      .search {
        background-color: white;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        .searchInput {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            width: 20px;
            height: 20px;
            margin: 10px;
          }

          input {
            border: none;
            outline: none;

            &::placeholder {
              color: gray;
            }
          }
          
        }

        button {
          width: 120px;
          height: 50px;
          border: none;
          background-color: #000000;
          color: white;
          align-self: flex-end;
          cursor: pointer;
          //background-image:linear-gradient(#bf1d1d, #4e0606);
        }
        button:hover{
          background-color:rgb(52, 52, 52);
          color:rgb(255, 255, 255);
          transition:all .3s eased;
          //background-image:linear-gradient(#bf1d1d, #ffffff);
        }
      }

      .popular {
        display: flex;
        align-items: center;
        gap: 10px;
        

        span {
          width: max-content;
        }

        button {
          width: max-content;
          color: white;
          border: 1px solid transparent;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: black;
          font-size: 14px;
        }
        button:hover{
          background-color:red;
        }
      }
    }

    .right {
      height: 90%;
      img {
        height: 100%;
        object-fit: contain;
      }
    }

    .butti{
      background-color:black;
      color:#801a1a
    }
    .butti:hover{
      background-color:white;
    }

  }
}
